@include tablet {
    .contenedor-anuncios{
        @include grid (3, 2rem);
    }
}

.anuncio{
    background-color: lighten($gris, 5);
    border: 1px solid darken($gris, 10);
    margin-bottom: 2rem;

    .etiqueta{
        position: absolute;
        padding-left: 1rem;
        font-size: 1rem;
        text-transform: uppercase;
    }

    .etiqueta-verde{
        @include boton($verde, inline);
        border-radius: .5rem;
        padding: .5rem;
        margin: 1rem;
    }
}

.contenido-anuncio{
    padding: 2rem;

    h3, p{
        margin: 0;
    }
}

.precio{
    color: $azul;
    font-weight: $bold;
    font-size: 3rem;
}

.iconos_caracteristicas{
    display: flex;
    list-style: none;
    padding: 0;
    max-width: 40rem;

    li{
        flex: 1;
        display: flex;

        img{
            flex: 0 0 3rem;
            margin-right: 1rem;
        }

        p{
            font-weight: $black;
        }
    }
}