.alerta{ 
    padding: .1rem;
    text-align: center;
    color: $blanco;
    font-weight: $bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 1.5rem 0;

    &.error{
        background-color: $rojo;
    }

    &.exito{
        background-color: $verde;
    }
}

table.propiedades {
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0;

    thead{
        background-color: $azul;

        th{
            color: $blanco;
            padding: 2rem;
        }
    }

    .imagen-tabla{
        width: 10rem;
    }
}

.imagen-small{
    width: 20rem;
}